In [7]:
import pandas as pd
import numpy as np

In [9]:
# Importare date pe ani
# Anul 2019

df_gen_2019 = pd.read_csv("gen-2019.csv")
df_medii_2019 = pd.read_csv("medii-2019.csv")
df_educatie_2019 = pd.read_csv("educatie-2019.csv")
df_varste_2019 = pd.read_csv("varste-2019.csv")

## Anul 2020

df_gen_2020 = pd.read_csv("gen-2020.csv")
df_medii_2020 = pd.read_csv("medii-2020.csv")
df_educatie_2020 = pd.read_csv("educatie-2020.csv")
df_varste_2020 = pd.read_csv("varste-2020.csv")

## Anul 2024

df_gen_2024 = pd.read_csv("gen-2024.csv")
df_medii_2024 = pd.read_csv("medii-2024.csv")
df_educatie_2024 = pd.read_csv("educatie-2024.csv")
df_varste_2024 = pd.read_csv("varste-2024.csv")

In [11]:
# Adaugare coloana "an" la fiecare
df_gen_2019["an"] = 2019
df_medii_2019["an"] = 2019
df_educatie_2019["an"] = 2019
df_varste_2019["an"] = 2019

df_gen_2020["an"] = 2020
df_medii_2020["an"] = 2020
df_educatie_2020["an"] = 2020
df_varste_2020["an"] = 2020

df_gen_2024["an"] = 2024
df_medii_2024["an"] = 2024
df_educatie_2024["an"] = 2024
df_varste_2024["an"] = 2024

In [21]:
# Curatare coloane (spatii, caractere in plus etc.)

df_gen_2019.columns = df_gen_2019.columns.str.strip().str.lower().str.replace(' ', '_')
df_gen_2020.columns = df_gen_2020.columns.str.strip().str.lower().str.replace(' ', '_')
df_gen_2024.columns = df_gen_2024.columns.str.strip().str.lower().str.replace(' ', '_')

df_medii_2019.columns = df_medii_2019.columns.str.strip().str.lower().str.replace(' ', '_')
df_medii_2020.columns = df_medii_2020.columns.str.strip().str.lower().str.replace(' ', '_')
df_medii_2024.columns = df_medii_2024.columns.str.strip().str.lower().str.replace(' ', '_')

df_educatie_2019.columns = df_educatie_2019.columns.str.strip().str.lower().str.replace(' ', '_')
df_educatie_2020.columns = df_educatie_2020.columns.str.strip().str.lower().str.replace(' ', '_')
df_educatie_2024.columns = df_educatie_2024.columns.str.strip().str.lower().str.replace(' ', '_')

df_varste_2019.columns = df_varste_2019.columns.str.strip().str.lower().str.replace(' ', '_')
df_varste_2020.columns = df_varste_2020.columns.str.strip().str.lower().str.replace(' ', '_')
df_varste_2024.columns = df_varste_2024.columns.str.strip().str.lower().str.replace(' ', '_')

In [25]:
print(df_gen_2019.columns.tolist())

['judet', 'total_someri', 'total_someri_femei', 'total_someri_barbati', 'someri_indemnizati', 'someri_neindemnizati', 'rata_somaj', 'rata_somaj_femei', 'rata_somaj_barbati', 'an']

In [59]:
# Eliminare spatii din numele judetelor
df_medii_2019['judet'] = df_medii_2019['judet'].str.strip()
df_medii_2020['judet'] = df_medii_2020['judet'].str.strip()
df_medii_2024['judet'] = df_medii_2024['judet'].str.strip()

# Corectare nume judet
map_judete = {'SATU M.':'SATU MARE'}
df_gen_2019['judet'] = df_gen_2019['judet'].replace(map_judete)
df_gen_2020['judet'] = df_gen_2020['judet'].replace(map_judete)
df_gen_2024['judet'] = df_gen_2024['judet'].replace(map_judete)

In [61]:
# Combinare categorii

df_gen_total = pd.concat([df_gen_2019, df_gen_2020, df_gen_2024], ignore_index=True)
df_medii_total = pd.concat([df_medii_2019, df_medii_2020, df_medii_2024], ignore_index=True)
df_educatie_total = pd.concat([df_educatie_2019, df_educatie_2020, df_educatie_2024], ignore_index=True)
df_varste_total = pd.concat([df_varste_2019, df_varste_2020, df_varste_2024], ignore_index=True)

In [75]:
# Ordonare coloane in dataframe-ul de medii (PowerBI issue)
df_medii_total = df_medii_total[['judet', 'an', 
                     'total_urban', 'femei_urban', 'barbati_urban',
                     'total_rural', 'femei_rural', 'barbati_rural']]

In [77]:
# Verificare structura + export

df_gen_total.info()
df_gen_total.head()

df_gen_total.to_csv("gen_total.csv", index=False)
df_medii_total.to_csv("medii_total.csv", index=False)
df_educatie_total.to_csv("educatie_total.csv", index=False)
df_varste_total.to_csv("varste_total.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   judet                 129 non-null    object
 1   total_someri          129 non-null    object
 2   total_someri_femei    129 non-null    object
 3   total_someri_barbati  129 non-null    object
 4   someri_indemnizati    129 non-null    object
 5   someri_neindemnizati  129 non-null    object
 6   rata_somaj            129 non-null    float64
 7   rata_somaj_femei      129 non-null    float64
 8   rata_somaj_barbati    129 non-null    float64
 9   an                    129 non-null    int64
dtypes: float64(3), int64(1), object(6)
memory usage: 10.2+ KB

In [79]:
# Transformare in long format

df_gen_long = pd.melt(
    df_gen_total,
    id_vars=["judet", "an"],
    value_vars=["rata_somaj", "rata_somaj_femei", "rata_somaj_barbati"],
    var_name="gen",
    value_name="rata"
)

df_medii_long = pd.melt(
    df_medii_total,
    id_vars=["judet", "an"],
    value_vars=[
        "total_urban",
        "femei_urban",
        "barbati_urban",
        "total_rural",
        "femei_rural",
        "barbati_rural"
    ],
    var_name="mediu",
    value_name="numar_someri"
)

df_educatie_long = pd.melt(
    df_educatie_total,
    id_vars=["judet", "an"],
    value_vars=[
        "fara_studii",
        "inv_primar",
        "inv_gimnazial",
        "inv_liceal",
        "inv_posticeal",
        "inv_profesional",
        "inv_universitar"
    ],
    var_name="nivel_educatie",
    value_name="numar_someri"
)

df_varste_long = pd.melt(
    df_varste_total,
    id_vars=["judet", "an"],
    value_vars=[
        "sub_25",
        "25_29",
        "30_39",
        "40_49",
        "50_55",
        "peste_55"
    ],
    var_name="categorie_varsta",
    value_name="numar_someri"
)

In [81]:
# Export long format
df_gen_long.to_csv("gen_long.csv", index=False)
df_medii_long.to_csv("medii_long.csv", index=False)
df_educatie_long.to_csv("educatie_long.csv", index=False)
df_varste_long.to_csv("varste_long.csv", index=False)